body {
    background-color: $white !important;
    scroll-behavior: smooth !important;
    font-family: $font-primary !important;
    color: $text-900 !important;
  }
  
  .container-max {
    max-width: 1400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  #page-body {
    margin-top: 155px !important;
  
    @media (min-width: $bp-medium) and (max-width: $bp-large) {
      margin-top: 116px !important;
    }
  
    &.promotion-active {
      margin-top: 190px !important;
  
      @media (min-width: $bp-medium) and (max-width: $bp-large) {
        margin-top: 150px !important;
      }
    }
  }
  
  a {
    color: $text-900;
  
    &:hover,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
  
  h1,
  .h1 {
    font-size: 3rem;
    font-weight: bolder;
    line-height: 3.625rem;
    letter-spacing: -0.1125rem;
    margin: 0;
  
    @include respond(laptop) {
      font-size: 2.8rem;
      line-height: 3.225rem;
      letter-spacing: -0.03rem;
    }
  
    @include respond(tab-port) {
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: -0.025rem;
    }
  
    @include respond(phone) {
      font-size: 2rem;
      line-height: 2.375rem;
    }
  }
  
  h2,
  .h2 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 2.625rem;
    letter-spacing: -0.025rem;
    margin: 0;
  
    @include respond(laptop) {
      font-size: 2rem;
      line-height: 2.375rem;
    }
  
    @include respond(tab-port) {
      font-size: 1.8rem;
      line-height: 2rem;
    }
  
    @include respond(phone) {
      font-size: 1.625rem;
      line-height: 1.875rem;
    }
  }
  
  h3,
  .h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.875rem;
    letter-spacing: -0.025rem;
    margin: 0;
  
    @include respond(laptop) {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  
    @include respond(tab-port) {
      font-size: 1.3rem;
      line-height: 1.55rem;
    }
  
    @include respond(phone) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
  
  h4,
  .h4 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: -0.02rem;
    margin: 0;
  
    @include respond(laptop) {
      font-size: 1.225rem;
      line-height: 1.4rem;
    }
  
    @include respond(phone) {
      font-size: 1.2rem;
      line-height: 1.4rem;
      letter-spacing: -0.025rem;
    }
  }
  
  h5,
  .h5 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.3rem;
    letter-spacing: -0.02rem;
    margin: 0;
  
    @include respond(laptop) {
      font-size: 1.12rem;
      line-height: 1.28rem;
    }
  }
  
  .body-1 {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
    margin: 0;
  }
  
  p,
  .body-2 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4rem;
    letter-spacing: -0.00625rem;
    margin: 0;
  }
  
  .small {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1rem;
    letter-spacing: -0.00625rem;
  
    @include respond(tab-port) {
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: -0.00625rem;
    }
  }
  
  .notification-wrapper {
    position: fixed;
    top: 3.3rem;
    right: 1rem;
    padding: 0;
  
    .alert {
      border-radius: 4px;
      color: $text-900;
      font-size: 0.875rem;
      width: 90vw;
      max-width: 400px;
      margin-left: auto;
  
      &.alert-success {
        border: 1px solid rgba($success, 0.3);
        background: #eefff3;
        border-left: 2px solid $success;
      }
  
      &.alert-danger {
        border: 1px solid rgba($danger, 0.3);
        background: #fff6f8;
        border-left: 2px solid $danger;
      }
  
      &.alert-warning {
        border: 1px solid rgba($warning, 0.3);
        background: #fffbed;
        border-left: 2px solid $warning;
      }
  
      &.alert-info {
        border: 1px solid rgba($info, 0.3);
        background: #f1f6fd;
        border-left: 2px solid $info;
      }
    }
  }

  .bg-white {
    background: $text-100;
  }

  .overlay{
    position:fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }

  ul{
    margin: 0;
    li{
      list-style: none;
      a{
        text-decoration: none;
      }
    }
  }


  .input_form{
    position: relative;
    margin: 2rem 0;
    input,textarea{
      background-color: $text-200;
      border: 0;
      border-radius: 4px;
      outline: none;
      padding: 1.5rem 1rem .4rem 0.6rem;
    }
    label{
      position: absolute;
      top: 8px;
      left: 10px;
    }
    textarea{
      min-height: 135px;
      height: 100%;
      width: 100%;
    }
  }
  
  
  .input-form2{
    margin: 1rem 0;
    input,textarea{
      background-color: $text-200;
      border: 0;
      border-radius: 4px;
      outline: none;
      padding:0.6rem;
    }
    label{
      top: 8px;
      left: 10px;
      margin-bottom: .5rem;
    }
    textarea{
      min-height: 135px;
      height: 100%;
      width: 100%;
    }
  }
