:root {
  /* COLORS */
  /* dark theme */
  --text: #fff;
  /* default */
  --primary-light: #07ab87;
  --secondary-light: #54f8d4;
  --ternary-light: #e7fef9;

  /* orange */
  --primary-orange: #fb7946;
  --secondary-orange: #ff8352;
  --ternary-orange: #ffede5;

  /* purple */
  --primary-purple: #4058bf;
  --secondary-purple: #798ad2;
  --ternary-purple: #d9def2;

  /* yellow */
  --primary-yellow: #f5a800;
  --secondary-yellow: #ffc74d;
  --ternary-yellow: #ffefcc;

  /* red */
  --primary-red: #eb2632;
  --secondary-red: #f05c65;
  --ternary-red: #fbd0d3;

  /* light  and dark theme*/
  /* --text-light: #fff; */
  --text-dark: #333;

  --text-light:#f5f5f5;

  --light:#fff;
  --dark:#000;
  /* default to light */
  --text: var(--light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --ternary: var(--ternary-light);
  color-scheme: light;

  /* custom color selection */
  --customColor: var(--ternary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--text-light);
    --primary: var(--primary-orange);
    --secondary: var(--secondary-orange);
    --ternary: var(--ternary-orange);
    color-scheme: dark;
  }
}

[data-theme="orange"] {
  --text: var(--text-dark);
  --primary: var(--primary-orange);
  --secondary: var(--secondary-orange);
  --ternary: var(--ternary-orange);
  color-scheme: orange;
}

[data-theme="default"] {
  --bkg: var(--bkg-light);
  --text: var(--text-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --ternary: var(--ternary-light);
  color-scheme: light;
}

[data-theme="purple"] {
  --bkg: var(--bkg-material);
  --text: var(--text-material);
  --primary: var(--primary-purple);
  --secondary: var(--secondary-purple);
  --ternary: var(--ternary-purple);
  color-scheme: purple;
}

[data-theme="yellow"] {
  --bkg: var(--bkg-material);
  --text: var(--text-material);
  --primary: var(--primary-yellow);
  --secondary: var(--secondary-yellow);
  --ternary: var(--ternary-yellow);
  color-scheme: orange;
}

[data-theme="red"] {
  --bkg: var(--bkg-material);
  --text: var(--text-material);
  --primary: var(--primary-red);
  --secondary: var(--secondary-red);
  --ternary: var(--ternary-red);
  color-scheme: red;
}

[data-theme="light"] {
  --text:var(--dark);
  --primary: var(--text-dark);
  --ternary: var(--text-light);
  color-scheme: red;
}

[data-theme="dark"] {
  --text: var(--light);
  --primary: var(--text-light);
  --ternary: var(--text-dark);
  color-scheme: dark;
}

[data-color="primary"] {
  color: var(--text);
}

[data-color="secondary"] {
  color: var(--primary);
}

[data-color="ternary"] {
  color: var(--ternary);
}

[data-bkg="primary"] {
  background-color: var(--primary);
}

[data-bkg="secondary"] {
  background-color: var(--secondary);
}

[data-bkg="ternary"] {
  background-color: var(--customColor);
}

[data-bkg-500="primary"] {
  background-color: var(--primary);
}

[data-bkg-500="secondary"] {
  background-color: var(--secondary);
}

[data-bkg-500="ternary"] {
  background-color: var(--ternary);
}
