@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import "./variable.scss";
.head-1 {
  font-family: "Quicksand";
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.3px;
  @media (max-width: 767px) {
    letter-spacing: -0.6px;
    font-size: 28px;
  }
}

.head-2 {
  font-family: "Quicksand";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 2.4rem;
  @media (max-width: 767px) {
    letter-spacing: -0.3px;
    font-size: 24px;
  }
}

.head-3 {
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 2.4rem;
  @media (max-width: 767px) {
    letter-spacing: -0.6px;
    font-size: 20px;
  }
}

.head-4 {
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.3px;
  margin-bottom: 0.25rem !important;
  @media (max-width: 767px) {
    letter-spacing: -0.4px;
    font-size: 18px;
  }
}

.head-5 {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.3px;
  @media (max-width: 767px) {
    letter-spacing: -0.4px;
    font-size: 16px;
  }
}

.body-1 {
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
  @media (max-width: 767px) {
    letter-spacing: -0.4px;
    font-size: 14px;
  }
}

.body-b {
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.1px;
  @media (max-width: 767px) {
    letter-spacing: -0.1px;
    font-size: 16px;
  }
}

.head-title {
  color: #000;
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 400;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.small-b {
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: 600;
  @media (max-width: 767px) {
    font-size: 13px;
  }
}

.small {
  font-family: "Quicksand";
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.1px;

  @media (max-width: 767px) {
    font-size: 13px;
  }
}

.primary-btn {
  border-radius: 4px;
  color: $white;
  border: none;
  background-color: $primary-color;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
}

body {
  overflow-x: hidden;
}

.bg-white {
  background: $white;
}
