
$dark-500: #141719;
$dark-400: #212529;
$dark-300: #292e33;
$dark-200: #4d5359;
$dark: #000;

$light-400: #cfcfcf;
$light-300: #e8e8e8;
$light-250: #edeff2;
$light-200: #f5f5f5;
$white: #fff;

$primary-color: #F53D3D;
$primary-low:hsl(0, 90%, 60%,45%);
$secondary-color: #0084aa;
$tertiary-color: #eee2dd;

$success: #0EB893;
$success-200:#D3F3ED;
