@import "../../base/variable.scss";

.appearance-container {
  padding-top: 30px;
  padding-left: 30px;
  .appearance-headings {
    background-color: $white;
    padding: 15px;
    ul {
      padding: 0;
      li {
        border-radius: 4px;
        list-style: none;
        padding: 8px 0;
        a {
          font-size: 18px;
        }
      }
    }
  }
  .dashboard-homepage-banner-section {
    max-width: 770px;
    background: $white;
  }
  .dashboard-homepage-section {
    max-width: 770px;
    .section-container{
      background: $white;
    }
  }
}
