.appearance-container {
  padding-top: 30px;
  .appearance-headings {
    background-color: white;
    padding: 15px;
    ul {
      padding: 0;
      li {
        padding: 10px;
        margin: 10px 0;
        border-radius: 4px;
        a {
              color: #999;
              font-size: 18px;
            }
        }
        .active-banner {
        background-color: hsl(187, 68%, 67%, 0.3);
      }
    }
  }
  .dashboard-homepage-banner-section{
    background: #fff;
  }
}
