@import "../../base/variable.scss";

.dashboard-container {
  background-color: rgba($primary-color,0.05);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  .side-navbar {
    background-color: rgba($primary-color,.01);
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    flex: 0 0 200px;
    box-shadow: 0 0 20px rgba(0,0,0,.07);
  }
}
