@import "../../base/variable.scss";

.dashboard-container{
    background-color: rgb(248, 249, 250);
    min-height: 100vh;
    padding:16px 16px 16px 260px;
    @media(max-width:992px){
        padding: 16px 16px 16px 210px;
    }
    @media(max-width:767px){
        padding: 26px;
    }
    .side-navbar{
        background-color: $white;
        height: 100vh;
        position: fixed;
        width: 250px;
        z-index: 100;
        left: 0;
        top: 0;
        border-right: 1px solid rgb(233, 236, 239);
        @media(max-width:992px){
            width: 200px;
        }
        @media(max-width:767px){
            width: 0px;
        }
    }
    .active{
        width: 100vw;
        .users{
            display: block !important;
        }
        .main-links{
            display: block !important;
        }
    }
    .global-nav{
        background: $white;
        .img-wrapper{
            img{
                height: 55px;
            }
        }
    }
}