@import "../../base/variable.scss";

.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  .side-navbar {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    flex: 0 0 200px;
    box-shadow: 0 0 20px rgba(0,0,0,.07);
  }
}
