.order-container {
  .order-options {
    ul > li {
      background: rgb($text-300, 0.4);
      padding: 0.3rem 1rem;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .order-table {
    thead {
      background-color: $white;
      padding: 1.5rem 20px;
      margin: 1rem;
      border-radius: 4px;
      span {
        font-weight: 600;
      }
    }
    tbody {
      padding: 0.8rem 20px;
      margin: 0 1rem;
      tr {
        td {
          gap: 10px;
          button {
            padding: 0.4rem 0.7rem;
            color: $white;
          }
          button:first-child {
            background: $primary-color;
          }
          button:last-child {
            background: $text-400;
          }
        }
      }
      tr:nth-child(even) {
        background: $white;
      }
      tr:nth-child(odd) {
        background: $text-200;
      }
    }
  }
  .order-details {
    z-index: 3;
    min-height: 100vh;
    height: 100%;
    max-width: 70vw;
    width: 100%;
    top: 0;
    right: 0;
    background: $text-200;
    .order-info {
      border-radius: 4px;
      line-height: 40px;
      table {
        thead,
        tbody {
          th,
          td {
            height: 30px;
          }
        }
      }
      p {
        span:last-child {
          height: 30px;
          margin-left: 40px;
        }
      }
    }

    .orders {
      height: 100%;
      .order-data {
        overflow-y: auto;
        max-height: 200px;
        .ordered-product {
          display: flex;
          align-items: center;
          .img-wrapper {
            max-width: 80px;
            max-height: 80px;
            img {
              object-fit: contain;
              width: 100%;
            }
          }
        }
      }
    }
    .customer-details {
      max-height: 250px;
      height: 100%;
      max-width: 380px;
      width: 100%;
    }
  }

  .delete-section{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: $white;
    align-items: self-end;
    padding: 2rem;
    z-index: 5;
  }
}
