@import "../../base/variable.scss";
.register-section{
    background-color:$text-200;
    min-height: 100vh;
    .register-point{
       max-width: 500px;
       width: 100%;
       margin: auto;
        background: $white;
        border-radius: 4px;
       form{
        .d-flex.gap-3{
            @media(max-width:767px){
                flex-wrap: wrap;
            }
        }
       }
    }
}