@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import "../../base/variable.scss";
.side-navbar {
  .main-links {
    padding: 0;
    li {
      padding: 0 16px 0 24px;
      margin: 4px;
      line-height: 43px;
      display: flex;
      align-items: center;
      cursor: pointer;
      span:first-child {
        svg {
          height: 15px;
          width: 15px;
        }
      }
      span:last-child {
        font-size: 14px;
        height: 40px;
        width: 100%;
        font-family: $font-primary;
        margin-left: 10px;
      }
      .currentRoute {
        color: $primary-color !important;
        font-weight: 600;
      }
    }
  }
}

