@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
.side-navbar{
    .users{
        .user-attribute{
            p{
                font-family: Rubik Wet Paint;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 2px;
            }
        }
    }
    
    .main-links{
        padding: 10px 10px 10px 20px;
        ul{
           padding: 0;
           li{
            margin: 8px 0;
            padding: 6px 6px;
            border-radius: 4px;
            a{
                color: $dark-400 ;
                font-weight: 500;
            }
            .currentRoute{
                color: $primary-color !important;
                font-weight: 600;
            }
           }
        }
    }
}