@import "../../base/variable.scss";

.dashboard-profile {
  .user-profile-section {
    background: $white;
    border-radius: 4px;
    .profile-links {
      li{
        margin: 4px;
        line-height: 40px;
        cursor: pointer;
        span:first-child{
         svg{
          height: 18px;
          width: 18px;
         }
        }
        span:last-child{
          height: 40px;
          margin-left: 8px;
        }
      }
    }
  }
  .account-page {
    .account-card {
      background: white;
      border-radius: 4px;
      max-width: 350px;
      width: 100%;
      line-height: 40px;
      span:first-child{
        svg{
          max-height: 18px;
          max-width: 18px;
        }
      }
      span:last-child{
        height: 40px;
        margin-left: 8px;
      }
    }
  }
  .personal-details-page {
    background: white;
    max-width: 340px;
    .button-wrapper{
        button{
            background-color: var(--primary);
            color: $white;
            border: 0;
            padding: 10px;
            border-radius: 4px;
            font-weight: 500;
        }
    }
  }
}
