@import "../../base/variable.scss";

.dashboard-profile {
  .user-profile-section {
    background: $white;
    border-radius: 4px;
    .profile-links {
      li > a {
        color: $text-800;
        font-weight: 600;
        font-family: Quicksand;
      }
      li > .active-link {
        color: $primary-color;
      }
      li > a > .currentRoute {
        color: $primary-color !important;
        font-weight: 600;
      }
    }
  }
  .account-page {
    .account-card {
      background: white;
      border-radius: 4px;
      max-width: 350px;
      width: 100%;
      .data-container {
        .text {
          color: #0eb893;
          background: #d3f3ed;
          border-radius: 4px;
          font-weight: 500;
        }
      }
    }
  }
  .personal-details-page {
    background: white;
    max-width: 340px;
    .store-name,
    .name,
    .email {
      input {
        border-radius: 4px;
        background: #f5f5f5;
        border: 0;
        padding: 15px 10px 10px 10px;
        outline: 0;
        font-size: 12px;
      }
      .small{
        top: 0;
        left: 10px;
      }
    }
    .button-wrapper{
        button{
            background-color: $primary-color;
            color: $white;
            border: 0;
            padding: 10px;
            border-radius: 4px;
            font-weight: 500;
        }
    }
  }
}
