@import "@style/base/variable.scss";
.homepage-section {
  .homepage-banner{
    min-height: 85vh;
    img{
      max-height: 85vh;
      width: 100vw;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    .homepage-banner-content{
      top: 50%;
      transform: translateY(-50%);
      left: 80px;
      color: $white;
    }
  }   
  .top-category{
    .products-container{
      .products{
        img{
          width: 100%;
        }
      }
    }
  }
  .explore-other-style{
    .category{
      text-align: center;
      .image-wrapper{
        img{
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}